workflows/ingestion/03-document-fetcher.json
{
  "name": "03 - Document Fetcher",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Extract file info from input\nconst fileId = $input.first().json.file_id;\nconst fileName = $input.first().json.file_name;\nconst mimeType = $input.first().json.mime_type;\nconst extension = $input.first().json.extension;\n\nif (!fileId) {\n  throw new Error('No file_id provided');\n}\n\nreturn [{\n  json: {\n    file_id: fileId,\n    file_name: fileName,\n    mime_type: mimeType,\n    extension: extension,\n    fetch_started: new Date().toISOString()\n  }\n}];"
      },
      "id": "prepare-fetch",
      "name": "Prepare Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.file_id }}"
        },
        "options": {}
      },
      "id": "gdrive-download",
      "name": "Google Drive - Download",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [440, 0],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "8XqNPH9DqLW26kW4",
          "name": "Google Drive account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-error",
      "name": "Check for Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "d1e2f3g4-1111-2222-3333-444455556666",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "d1e2f3g4-1111-2222-3333-444455556677",
              "name": "error_message",
              "value": "={{ $json.error.message || 'Failed to download file' }}",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": true
      },
      "id": "set-error",
      "name": "Set Error Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, -100]
    },
    {
      "parameters": {
        "jsCode": "// Process downloaded binary content and include base64 in JSON for sub-workflow passing\nconst item = $input.first();\nconst binary = item.binary;\nconst fileInfo = item.json;\n\n// Find the binary key (usually 'data' but could be anything)\nconst binaryKey = binary ? Object.keys(binary)[0] : null;\nconst binaryObj = binaryKey ? binary[binaryKey] : null;\n\nlet debugInfo = {\n  hasBinary: !!binary,\n  binaryKeys: binary ? Object.keys(binary) : [],\n  binaryKey: binaryKey,\n  binaryObjKeys: binaryObj ? Object.keys(binaryObj) : []\n};\n\nif (!binaryObj) {\n  return [{\n    json: {\n      ...fileInfo,\n      status: 'error',\n      error_message: 'No binary data received',\n      debug: debugInfo\n    }\n  }];\n}\n\n// In n8n, binary data can be accessed via helpers or directly\n// Try to get the base64 data using the proper method\nlet base64Data = null;\nlet fileSize = 0;\n\ntry {\n  // Method 1: Use getBinaryDataBuffer helper (recommended for n8n)\n  const binaryBuffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\n  base64Data = binaryBuffer.toString('base64');\n  fileSize = binaryBuffer.length;\n  debugInfo.method = 'getBinaryDataBuffer';\n  debugInfo.bufferLength = fileSize;\n} catch (e) {\n  debugInfo.helperError = e.message;\n  // Method 2: Try direct access to data property\n  if (binaryObj.data && typeof binaryObj.data === 'string' && binaryObj.data.length > 100) {\n    base64Data = binaryObj.data;\n    fileSize = binaryObj.fileSize || 0;\n    debugInfo.method = 'direct_data';\n  }\n}\n\nif (!base64Data) {\n  return [{\n    json: {\n      ...fileInfo,\n      status: 'error',\n      error_message: 'Could not extract binary data',\n      debug: debugInfo\n    }\n  }];\n}\n\n// Include binary content as base64 IN THE JSON for reliable passing through Execute Workflow\nreturn [{\n  json: {\n    file_id: fileInfo.file_id,\n    file_name: fileInfo.file_name,\n    mime_type: fileInfo.mime_type || binaryObj.mimeType,\n    extension: fileInfo.extension,\n    file_size: fileSize,\n    status: 'downloaded',\n    fetch_completed: new Date().toISOString(),\n    binary_data: base64Data,\n    binary_mime_type: binaryObj.mimeType,\n    debug: debugInfo\n  },\n  binary: item.binary\n}];"
      },
      "id": "process-download",
      "name": "Process Download",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {
        "jsCode": "// Just pass through the data - this is an end node\nreturn $input.all();"
      },
      "id": "output-node",
      "name": "Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Fetch": {
      "main": [
        [
          {
            "node": "Google Drive - Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive - Download": {
      "main": [
        [
          {
            "node": "Check for Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Error": {
      "main": [
        [
          {
            "node": "Set Error Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Output": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Download": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ingestion"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
