workflows/processing/04-batch-router.json
{
  "name": "04 - Batch Router",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "batch-split",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "// Get file extension for routing\nconst items = $input.all();\nconst routedItems = items.map(item => {\n  const extension = (item.json.extension || '').toLowerCase();\n  let processor_type = 'generic';\n  \n  // Determine processor type based on extension\n  if (extension === 'pdf') {\n    processor_type = 'pdf';\n  } else if (['docx', 'doc'].includes(extension)) {\n    processor_type = 'docx';\n  } else if (['pptx', 'ppt'].includes(extension)) {\n    processor_type = 'pptx';\n  } else if (['xlsx', 'xls'].includes(extension)) {\n    processor_type = 'xlsx';\n  } else if (['txt', 'md', 'json', 'csv'].includes(extension)) {\n    processor_type = 'text';\n  }\n  \n  return {\n    json: {\n      ...item.json,\n      processor_type: processor_type,\n      batch_id: $execution.id,\n      batch_timestamp: new Date().toISOString()\n    },\n    binary: item.binary\n  };\n});\n\nreturn routedItems;"
      },
      "id": "add-routing-info",
      "name": "Add Routing Info",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.processor_type }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PDF"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.processor_type }}",
                    "rightValue": "docx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DOCX"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.processor_type }}",
                    "rightValue": "pptx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PPTX"
            }
          ],
          "fallbackOutput": {
            "renameOutput": true,
            "outputKey": "Generic"
          }
        },
        "options": {}
      },
      "id": "router-switch",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [660, 0]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "05 - PDF Processor"
        },
        "options": {}
      },
      "id": "call-pdf-processor",
      "name": "Call PDF Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [880, -200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "06 - DOCX Processor"
        },
        "options": {}
      },
      "id": "call-docx-processor",
      "name": "Call DOCX Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [880, -50],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "07 - Generic Processor"
        },
        "options": {}
      },
      "id": "call-pptx-processor",
      "name": "Call PPTX Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [880, 100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "name",
          "value": "07 - Generic Processor"
        },
        "options": {}
      },
      "id": "call-generic-processor",
      "name": "Call Generic Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [880, 250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "// Combine all processed documents and continue to next batch\nconst items = $input.all();\nconst processedDocs = items.filter(item => item.json.status !== 'error');\nconst errors = items.filter(item => item.json.status === 'error');\n\nreturn [{\n  json: {\n    processed_documents: processedDocs.map(d => d.json),\n    errors: errors.map(e => e.json),\n    batch_complete: true,\n    processed_count: processedDocs.length,\n    error_count: errors.length\n  }\n}];"
      },
      "id": "finalize-batch",
      "name": "Finalize Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Add Routing Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Routing Info": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Call PDF Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call DOCX Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call PPTX Processor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Generic Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call PDF Processor": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call DOCX Processor": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call PPTX Processor": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Call Generic Processor": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Results": {
      "main": [
        [
          {
            "node": "Finalize Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Batch": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "processing"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
