workflows/processing/06-docx-processor.json
{
  "name": "06 - DOCX Processor",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Prepare DOCX for extraction\nconst item = $input.first();\nconst fileInfo = item.json;\nconst binaryData = item.binary?.data;\n\nif (!binaryData) {\n  return [{\n    json: {\n      ...fileInfo,\n      status: 'error',\n      error_message: 'No binary data found for DOCX extraction'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    file_id: fileInfo.file_id,\n    file_name: fileInfo.file_name,\n    mime_type: fileInfo.mime_type,\n    extension: fileInfo.extension,\n    processor_type: 'docx',\n    processing_started: new Date().toISOString()\n  },\n  binary: item.binary\n}];"
      },
      "id": "prepare-docx",
      "name": "Prepare DOCX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "extract-docx",
      "name": "Extract from DOCX",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [440, 0],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-text",
              "leftValue": "={{ $json.text || $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-extraction",
      "name": "Check Extraction",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "// Process extracted text from DOCX\nconst item = $input.first();\nconst extractedText = item.json.text || item.json.data || '';\nconst metadata = item.json;\n\n// Clean up the text\nconst cleanText = extractedText\n  .replace(/\\s+/g, ' ')  // Normalize whitespace\n  .replace(/\\n{3,}/g, '\\n\\n')  // Reduce excessive newlines\n  .trim();\n\n// Get word count and basic stats\nconst wordCount = cleanText.split(/\\s+/).filter(w => w.length > 0).length;\nconst charCount = cleanText.length;\n\nreturn [{\n  json: {\n    file_id: metadata.file_id,\n    file_name: metadata.file_name,\n    mime_type: metadata.mime_type,\n    extension: metadata.extension || 'docx',\n    extracted_text: cleanText,\n    word_count: wordCount,\n    char_count: charCount,\n    status: 'processed',\n    processor_type: 'docx',\n    processing_completed: new Date().toISOString()\n  }\n}];"
      },
      "id": "process-text",
      "name": "Process Extracted Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "f1g2h3i4-1111-2222-3333-444455556666",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "f1g2h3i4-1111-2222-3333-444455556677",
              "name": "error_message",
              "value": "Failed to extract text from DOCX. The file may be corrupted or password protected.",
              "type": "string"
            },
            {
              "id": "f1g2h3i4-1111-2222-3333-444455556688",
              "name": "extracted_text",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": true
      },
      "id": "set-error",
      "name": "Set Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 100]
    },
    {
      "parameters": {},
      "id": "merge-output",
      "name": "Merge Output",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DOCX": {
      "main": [
        [
          {
            "node": "Extract from DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from DOCX": {
      "main": [
        [
          {
            "node": "Check Extraction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Extraction": {
      "main": [
        [
          {
            "node": "Process Extracted Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Extracted Text": {
      "main": [
        [
          {
            "node": "Merge Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error": {
      "main": [
        [
          {
            "node": "Merge Output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "processing"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
