workflows/visuals/16-visual-asset-generator.json
{
  "id": "eNk7PykRD4mFqREB",
  "name": "16 - Visual Asset Generator",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Prepare content for slide/visual generation - preserve all original data\nconst item = $input.first().json;\n\n// Handle different input structures\nconst docType = item.document_type || 'corporate_overview';\nconst title = item.title || item.generated_content?.title || 'OneOrigin Document';\nconst content = item.content || item.generated_content?.content || JSON.stringify(item);\n\nreturn [{\n  json: {\n    // Preserve original document data for upload\n    original_document: {\n      document_type: docType,\n      title: title,\n      content: typeof content === 'string' ? content : JSON.stringify(content),\n      file_name: item.file_name || `${docType}_${new Date().toISOString().split('T')[0]}.md`,\n      output_folder_id: item.output_folder_id || '',\n      metadata: item.metadata || {}\n    },\n    // Fields for slide generation\n    document_type: docType,\n    title: title,\n    content: typeof content === 'string' ? content : JSON.stringify(content),\n    client_name: item.client_name || null,\n    generation_started: new Date().toISOString()\n  }\n}];"
      },
      "id": "prepare-content",
      "name": "Prepare Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a presentation designer for OneOrigin, an EdTech company. Create professional slide deck content based on documents.\n\nGenerate a structured slide deck with 5-8 slides. Each slide should have:\n- A clear title\n- 3-5 bullet points (concise, impactful)\n- Speaker notes\n- Visual suggestion (what image/chart would enhance this slide)\n\nStyle guidelines:\n- Professional, clean design\n- EdTech/Higher Education focused\n- Use data and statistics where available\n- Include call-to-action on final slide\n\nRespond ONLY with valid JSON."
            },
            {
              "role": "user",
              "content": "=Create a presentation slide deck for this document:\n\nDocument Type: {{ $json.document_type }}\nTitle: {{ $json.title }}\n\nContent:\n{{ $json.content.substring(0, 8000) }}\n\n---\n\nRespond with JSON:\n{\n  \"presentation_title\": \"Main title\",\n  \"subtitle\": \"Subtitle or tagline\",\n  \"slides\": [\n    {\n      \"slide_number\": 1,\n      \"slide_type\": \"title|content|stats|comparison|cta\",\n      \"title\": \"Slide title\",\n      \"bullets\": [\"point 1\", \"point 2\"],\n      \"speaker_notes\": \"Notes for presenter\",\n      \"visual_suggestion\": \"Description of recommended visual\"\n    }\n  ],\n  \"color_scheme\": {\n    \"primary\": \"#hex\",\n    \"secondary\": \"#hex\",\n    \"accent\": \"#hex\"\n  },\n  \"recommended_images\": [\n    {\n      \"slide_number\": 1,\n      \"image_prompt\": \"Detailed prompt for image generation\",\n      \"image_type\": \"photo|illustration|diagram|chart\"\n    }\n  ]\n}"
            }
          ]
        },
        "options": {
          "temperature": 0.5,
          "maxTokens": 4000,
          "responseFormat": "json_object"
        }
      },
      "id": "generate-slides",
      "name": "Generate Slide Content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [440, 0],
      "credentials": {
        "openAiApi": {
          "id": "CJCFB3T7mvekmbpe",
          "name": "OpenAI API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse slide content and create output structure - preserve original document for upload\nconst item = $input.first();\nconst inputData = $('Prepare Content').first().json;\nconst originalDoc = inputData.original_document || {};\nlet slideContent = null;\n\ntry {\n  const response = item.json.message?.content || item.json.text || item.json.output || '';\n  slideContent = typeof response === 'string' ? JSON.parse(response) : response;\n} catch (e) {\n  // Create default slide structure if parsing fails\n  slideContent = {\n    presentation_title: inputData.title || 'OneOrigin Presentation',\n    subtitle: 'Transforming Higher Education',\n    slides: [\n      {\n        slide_number: 1,\n        slide_type: 'title',\n        title: inputData.title || 'OneOrigin',\n        bullets: ['EdTech Innovation', 'Higher Education Solutions', 'AIRR Technology'],\n        speaker_notes: 'Welcome and introduction',\n        visual_suggestion: 'Company logo with abstract tech background'\n      },\n      {\n        slide_number: 2,\n        slide_type: 'content',\n        title: 'Our Solutions',\n        bullets: ['Transcript Processing', 'Student Services', 'Compliance & Security'],\n        speaker_notes: 'Overview of main service areas',\n        visual_suggestion: 'Service icons or workflow diagram'\n      }\n    ],\n    color_scheme: { primary: '#003366', secondary: '#00A86B', accent: '#FFB800' },\n    recommended_images: []\n  };\n}\n\n// Generate HTML preview of the presentation\nconst slides = slideContent.slides || [];\nlet htmlSlides = `<!DOCTYPE html>\\n<html>\\n<head>\\n  <meta charset=\\\"UTF-8\\\">\\n  <title>${slideContent.presentation_title || 'Presentation'}</title>\\n  <style>\\n    body { font-family: 'Segoe UI', Arial, sans-serif; margin: 0; padding: 20px; background: #f5f5f5; }\\n    .slide { background: white; margin: 20px auto; padding: 40px; max-width: 900px; min-height: 500px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); border-radius: 8px; page-break-after: always; }\\n    .slide-title { background: ${slideContent.color_scheme?.primary || '#003366'}; margin: -40px -40px 30px -40px; padding: 30px 40px; }\\n    .slide-title h2 { color: white; margin: 0; font-size: 28px; }\\n    .slide.title-slide { display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; background: linear-gradient(135deg, ${slideContent.color_scheme?.primary || '#003366'} 0%, ${slideContent.color_scheme?.secondary || '#00A86B'} 100%); color: white; }\\n    .slide.title-slide h1 { font-size: 42px; margin-bottom: 10px; }\\n    .slide.title-slide h3 { font-size: 24px; font-weight: normal; opacity: 0.9; }\\n    ul { font-size: 20px; line-height: 1.8; }\\n    li { margin-bottom: 15px; }\\n    .speaker-notes { background: #fff9e6; border-left: 4px solid ${slideContent.color_scheme?.accent || '#FFB800'}; padding: 15px; margin-top: 30px; font-size: 14px; color: #666; }\\n    .visual-hint { background: #e8f4f8; border-radius: 4px; padding: 10px 15px; margin-top: 20px; font-size: 13px; color: #0066cc; }\\n  </style>\\n</head>\\n<body>\\n`;\n\nhtmlSlides += `<div class=\\\"slide title-slide\\\">\\n  <h1>${slideContent.presentation_title || 'Presentation'}</h1>\\n  <h3>${slideContent.subtitle || ''}</h3>\\n</div>\\n`;\n\nfor (const slide of slides) {\n  if (slide.slide_type === 'title') continue;\n  const bullets = slide.bullets || [];\n  const bulletHTML = bullets.map(b => `<li>${b}</li>`).join('\\n        ');\n  htmlSlides += `<div class=\\\"slide\\\">\\n  <div class=\\\"slide-title\\\"><h2>${slide.title || 'Slide ' + slide.slide_number}</h2></div>\\n  <ul>\\n        ${bulletHTML}\\n      </ul>\\n  ${slide.visual_suggestion ? `<div class=\\\"visual-hint\\\">Visual: ${slide.visual_suggestion}</div>` : ''}\\n  ${slide.speaker_notes ? `<div class=\\\"speaker-notes\\\"><strong>Notes:</strong> ${slide.speaker_notes}</div>` : ''}\\n</div>\\n`;\n}\n\nhtmlSlides += '</body></html>';\n\n// Return original document data + visual data for upload workflow\nreturn [{\n  json: {\n    // Original document fields required by uploader\n    document_type: originalDoc.document_type || inputData.document_type,\n    title: originalDoc.title || inputData.title,\n    content: originalDoc.content || inputData.content,\n    file_name: originalDoc.file_name || `${originalDoc.document_type || 'document'}_${new Date().toISOString().split('T')[0]}.md`,\n    output_folder_id: originalDoc.output_folder_id || '',\n    metadata: originalDoc.metadata || {},\n    // Visual generation results\n    status: 'visuals_generated',\n    visual_count: slides.length,\n    presentation: slideContent,\n    html_preview: htmlSlides,\n    visuals: [{\n      type: 'presentation',\n      format: 'html',\n      title: slideContent.presentation_title,\n      slide_count: slides.length,\n      slides: slideContent.slides\n    }],\n    generation_completed: new Date().toISOString()\n  }\n}];"
      },
      "id": "format-output",
      "name": "Format Presentation Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Content": {
      "main": [
        [
          {
            "node": "Generate Slide Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Slide Content": {
      "main": [
        [
          {
            "node": "Format Presentation Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "visuals"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "2"
}
