workflows/visuals/17-figma-integration.json
{
  "name": "17 - Figma Integration",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "// Prepare for visual generation\nconst item = $input.first().json;\n\nconst visualRequest = {\n  visual_type: item.visual_type,\n  prompt: item.prompt,\n  style: item.style || 'professional',\n  dimensions: item.dimensions || '16:9',\n  color_palette: item.color_palette || ['#003366', '#00A86B'],\n  document_type: item.document_type,\n  document_title: item.document_title\n};\n\nreturn [{ json: visualRequest }];"
      },
      "id": "prepare-request",
      "name": "Prepare Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.visual_type }}",
                    "rightValue": "infographic",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "AI Image"
            }
          ],
          "fallbackOutput": {
            "renameOutput": true,
            "outputKey": "Template"
          }
        },
        "options": {}
      },
      "id": "route-generation",
      "name": "Route Generation Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [440, 0]
    },
    {
      "parameters": {
        "url": "={{ $env.NANO_BANANA_API_URL || 'https://api.nanobanana.com/v1/generate' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"style\": \"{{ $json.style }}\",\n  \"aspect_ratio\": \"{{ $json.dimensions }}\",\n  \"output_format\": \"png\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "nano-banana-generate",
      "name": "Nano Banana - Generate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "Nano Banana API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "url": "https://api.figma.com/v1/files/{{ $env.FIGMA_TEMPLATE_FILE_ID || 'TEMPLATE_FILE_ID' }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "figma-get-template",
      "name": "Figma - Get Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "Figma API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Process Nano Banana response\nconst item = $input.first();\nconst response = item.json.body || item.json;\n\nlet visualResult = {\n  visual_type: item.json.visual_type,\n  source: 'nano_banana',\n  status: 'error',\n  error: 'Failed to generate image'\n};\n\nif (response.image_url || response.data?.url) {\n  visualResult = {\n    visual_type: item.json.visual_type,\n    source: 'nano_banana',\n    image_url: response.image_url || response.data?.url,\n    status: 'generated',\n    generated_at: new Date().toISOString()\n  };\n}\n\nreturn [{ json: visualResult }];"
      },
      "id": "process-nano-banana",
      "name": "Process Nano Banana Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, -100]
    },
    {
      "parameters": {
        "jsCode": "// Process Figma template\nconst item = $input.first();\nconst response = item.json.body || item.json;\n\nlet visualResult = {\n  visual_type: item.json.visual_type,\n  source: 'figma_template',\n  status: 'template_reference',\n  template_file: response.name || 'Unknown Template',\n  template_url: `https://www.figma.com/file/${response.key || 'TEMPLATE'}`,\n  message: 'Template reference created. Manual design required in Figma.',\n  generated_at: new Date().toISOString()\n};\n\nreturn [{ json: visualResult }];"
      },
      "id": "process-figma",
      "name": "Process Figma Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 100]
    },
    {
      "parameters": {},
      "id": "merge-results",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1100, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Request": {
      "main": [
        [
          {
            "node": "Route Generation Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Generation Type": {
      "main": [
        [
          {
            "node": "Nano Banana - Generate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Figma - Get Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nano Banana - Generate": {
      "main": [
        [
          {
            "node": "Process Nano Banana Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Figma - Get Template": {
      "main": [
        [
          {
            "node": "Process Figma Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Nano Banana Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Figma Result": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "visuals"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
