workflows/enrichment/10-external-data-enricher.json
{
  "name": "10 - External Data Enricher",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "g1h2i3j4-1111-2222-3333-444455556666",
              "name": "edtech_query",
              "value": "EdTech trends higher education 2024 2025 digital transformation",
              "type": "string"
            },
            {
              "id": "g1h2i3j4-1111-2222-3333-444455556677",
              "name": "ferpa_query",
              "value": "FERPA compliance updates student data privacy regulations",
              "type": "string"
            },
            {
              "id": "g1h2i3j4-1111-2222-3333-444455556688",
              "name": "higher_ed_query",
              "value": "higher education technology trends accreditation automation",
              "type": "string"
            },
            {
              "id": "g1h2i3j4-1111-2222-3333-444455556699",
              "name": "transcript_query",
              "value": "academic transcript processing automation digital credentials",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-queries",
      "name": "Set Search Queries",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"{{ $json.edtech_query }}\",\n  \"num\": 10\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "serper-edtech",
      "name": "Serper - EdTech News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "Serper API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/news",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"{{ $json.ferpa_query }}\",\n  \"num\": 10\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "serper-ferpa",
      "name": "Serper - FERPA Updates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, -50],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "Serper API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\": \"{{ $json.higher_ed_query }}\",\n  \"num\": 10\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "serper-higher-ed",
      "name": "Serper - Higher Ed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "CONFIGURE_ME",
          "name": "Serper API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"PASTE_YOUR_TAVILY_API_KEY_HERE\",\n  \"query\": \"{{ $json.transcript_query }}\",\n  \"max_results\": 10,\n  \"search_depth\": \"advanced\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "tavily-transcript",
      "name": "Tavily - Transcript Tech",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 250],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge All Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "// Combine and structure all search results\nconst items = $input.all();\n\nconst enrichmentData = {\n  edtech_news: [],\n  ferpa_updates: [],\n  higher_ed_trends: [],\n  transcript_tech: [],\n  fetch_timestamp: new Date().toISOString(),\n  sources_queried: 0,\n  total_results: 0\n};\n\n// Process each response based on index\nitems.forEach((item, index) => {\n  const data = item.json.body || item.json;\n  \n  // Index 0: Serper EdTech results\n  if (index === 0 && data.organic) {\n    enrichmentData.edtech_news = (data.organic || []).slice(0, 5).map(r => ({\n      title: r.title,\n      snippet: r.snippet,\n      link: r.link,\n      source: 'serper'\n    }));\n    enrichmentData.sources_queried++;\n  }\n  \n  // Index 1: Serper FERPA/News results\n  if (index === 1 && (data.news || data.organic)) {\n    enrichmentData.ferpa_updates = (data.news || data.organic || []).slice(0, 5).map(r => ({\n      title: r.title,\n      snippet: r.snippet || r.description,\n      link: r.link,\n      date: r.date,\n      source: 'serper'\n    }));\n    enrichmentData.sources_queried++;\n  }\n  \n  // Index 2: Serper Higher Ed results\n  if (index === 2 && data.organic) {\n    enrichmentData.higher_ed_trends = (data.organic || []).slice(0, 5).map(r => ({\n      title: r.title,\n      snippet: r.snippet,\n      link: r.link,\n      source: 'serper'\n    }));\n    enrichmentData.sources_queried++;\n  }\n  \n  // Index 3: Tavily results\n  if (index === 3 && data.results) {\n    enrichmentData.transcript_tech = data.results.slice(0, 5).map(r => ({\n      title: r.title,\n      snippet: r.content,\n      link: r.url,\n      score: r.score,\n      source: 'tavily'\n    }));\n    enrichmentData.sources_queried++;\n  }\n});\n\n// Calculate totals\nenrichmentData.total_results = \n  enrichmentData.edtech_news.length +\n  enrichmentData.ferpa_updates.length +\n  enrichmentData.higher_ed_trends.length +\n  enrichmentData.transcript_tech.length;\n\nreturn [{ json: enrichmentData }];"
      },
      "id": "structure-results",
      "name": "Structure Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Set Search Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Search Queries": {
      "main": [
        [
          {
            "node": "Serper - EdTech News",
            "type": "main",
            "index": 0
          },
          {
            "node": "Serper - FERPA Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Serper - Higher Ed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tavily - Transcript Tech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper - Higher Ed": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Serper - EdTech News": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serper - FERPA Updates": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Tavily - Transcript Tech": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge All Results": {
      "main": [
        [
          {
            "node": "Structure Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "enrichment"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
