workflows/error-handling/19-error-orchestrator.json
{
  "name": "19 - Error Orchestrator",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nreturn [{\n  json: {\n    error_type: error.error_type || 'workflow_error',\n    error_message: error.error_message || JSON.stringify(error),\n    workflow_name: error.workflow_name || $workflow.name,\n    execution_id: error.execution_id || $execution.id,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "format",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "position": [
        432,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "ebJtA5zECwuqgxVl"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "notify",
      "name": "Send to Error Notifier",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        672,
        0
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "50da02ca-55b3-411b-95a7-1b9edc61de53",
      "name": "Error Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Format Error": {
      "main": [
        [
          {
            "node": "Send to Error Notifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        []
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "callerPolicy": "any",
    "executionOrder": "v1"
  },
  "versionId": "2666ec3f-fd3a-4b29-994a-34390ad26f6e",
  "meta": {
    "instanceId": "09d4a039dbb91046aaeca3edef2db73f8c3066e76e4922019d6c8cb34ee8b520"
  },
  "id": "osCKBbpvviwbvt1F",
  "tags": [
    {
      "updatedAt": "2026-01-27T09:40:10.402Z",
      "createdAt": "2026-01-27T09:40:10.402Z",
      "id": "9gCVVtFKroqBPp94",
      "name": "error-handling"
    }
  ]
}
