workflows/error-handling/20-error-notifier.json
{
  "name": "20 - Error Notifier",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// Parse nested execution error JSON safely\nlet parsedError = {};\nif (typeof item.error_message === \"string\" && item.error_message.startsWith(\"{\")) {\n  try {\n    parsedError = JSON.parse(item.error_message);\n  } catch (e) {}\n}\n\nlet msg = \"\";\n\n// 1️⃣ Node-style errors (if any)\nif (parsedError.errors && parsedError.errors.length > 0) {\n  msg = parsedError.errors.map(e => `${e.node}: ${e.error}`).join(\"\\n\");\n}\n\n// 2️⃣ n8n execution error (YOUR CASE)\nelse if (parsedError.execution?.error?.message) {\n  msg = `${parsedError.execution.error.message}`;\n}\n\n// 3️⃣ fallback raw error_message\nelse if (item.error_message && item.error_message !== \"{}\") {\n  msg = item.error_message;\n}\n\nelse {\n  msg = \"An error occurred\";\n}\n\n// Prefer workflow name from parsed JSON → else original\nconst workflowName =\n  parsedError.workflow?.name ||\n  item.workflow_name ||\n  \"Document Regeneration\";\n\n// IST time\nconst istTime = new Date().toLocaleString(\"en-IN\", {\n  timeZone: \"Asia/Kolkata\",\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  hour12: true\n});\n\n// Google Chat payload\nconst response = {\n  text: `🚨 Error in ${workflowName}`,\n  cards: [{\n    sections: [{\n      widgets: [{\n        textParagraph: {\n          text: `<b>${msg}</b>`\n        }\n      }]\n    }, {\n      widgets: [{\n        keyValue: {\n          topLabel: \"Execution ID\",\n          content: item.execution_id || parsedError.execution?.id || \"N/A\"\n        }\n      }, {\n        keyValue: {\n          topLabel: \"Failed Node\",\n          content: parsedError.execution?.lastNodeExecuted || \"Unknown\"\n        }\n      }, {\n        keyValue: {\n          topLabel: \"Time (IST)\",\n          content: istTime\n        }\n      }]\n    }]\n  }]\n};\n\nreturn response;"
      },
      "id": "build-card",
      "name": "Build Chat Card",
      "type": "n8n-nodes-base.code",
      "position": [
        224,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAQA1uIwzMA/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=cdSgWap5oFIOBjV5ZX3_B9L3QKj7GguXblLR_V0v4-g",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "send-notification",
      "name": "Send to Google Chat",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        448,
        0
      ],
      "typeVersion": 4.2,
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-high-priority",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.priority }}",
              "rightValue": "HIGH"
            }
          ]
        },
        "options": {}
      },
      "id": "check-priority",
      "name": "Check High Priority",
      "type": "n8n-nodes-base.if",
      "position": [
        672,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Log high priority alert - could add email/SMS here\nconst item = $input.first();\n\n// Placeholder for additional high-priority notification\n// Could integrate with:\n// - Email (SendGrid, SMTP)\n// - SMS (Twilio)\n// - PagerDuty\n// - Slack\n\nreturn [{\n  json: {\n    high_priority_logged: true,\n    error_type: item.json.error_type,\n    message: 'High priority error - additional notification would be sent here',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "high-priority-action",
      "name": "High Priority Action",
      "type": "n8n-nodes-base.code",
      "position": [
        880,
        -96
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "no-op",
      "name": "No Additional Action",
      "type": "n8n-nodes-base.noOp",
      "position": [
        880,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "merge-output",
      "name": "Merge Output",
      "type": "n8n-nodes-base.merge",
      "position": [
        1104,
        0
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsCode": "// Final notification result\nconst item = $input.first();\n\nreturn [{\n  json: {\n    notification_sent: true,\n    channel: 'google_chat',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "finalize",
      "name": "Finalize",
      "type": "n8n-nodes-base.code",
      "position": [
        1328,
        0
      ],
      "typeVersion": 2
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Chat Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Card": {
      "main": [
        [
          {
            "node": "Send to Google Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Google Chat": {
      "main": [
        [
          {
            "node": "Check High Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check High Priority": {
      "main": [
        [
          {
            "node": "High Priority Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Additional Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority Action": {
      "main": [
        [
          {
            "node": "Merge Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Additional Action": {
      "main": [
        [
          {
            "node": "Merge Output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Output": {
      "main": [
        [
          {
            "node": "Finalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a20d65b7-3a32-4ffa-aca0-a5870ab0895a",
  "meta": {
    "instanceId": "09d4a039dbb91046aaeca3edef2db73f8c3066e76e4922019d6c8cb34ee8b520"
  },
  "id": "ebJtA5zECwuqgxVl",
  "tags": [
    {
      "updatedAt": "2026-01-27T09:40:10.402Z",
      "createdAt": "2026-01-27T09:40:10.402Z",
      "id": "9gCVVtFKroqBPp94",
      "name": "error-handling"
    }
  ]
}
